<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga Ulja</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
	
		<div class="card text-center p-4">
  			<div class="card-footer text-dark">
    			<b>Ulja, masti, automobilske kemikalije</b>
  			</div>
		</div>
	
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a th:href="@{/home/uljamotorna}" class="btn btn-primary btn-block">Ulja</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-danger btn-block">Masti</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-dark btn-block">Rashladna tekućina</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-success btn-block">Kočione tekućine</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-secondary btn-block">Kemikalije za automobile</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-info btn-block">Destilirana voda</a>
      			</div>
    		</div>
  		</div>
	</div>
</div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
</body>
</html>