<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Lisa zahtjeva korisnika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

<!-- List of all requests for new sifras / Admin only access - RequestController line 120-->
 <div class="p-2" align="center">
   <h5>Lista zahtjeva za dopunu šifri:</h5>
       <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
 </div>
  
  <div class="container table-responsive" align="center">

    <div class="row" th:fragment="article-list" th:if="${requestsList != null && !requestsList.isEmpty()}">
        <div class="col-md-2"></div>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Datum Zahtjeva</th>
                <th scope="col">Klijent</th>
                <th scope="col">Šifra 1</th> 
                <th scope="col">Šifra 2</th>         
                <th scope="col">Šifra 3</th>            
                <th scope="col">Šifra 4</th>
                <th scope="col">Šifra 5</th>       
                <th scope="col">Izvršeno</th>                         
                <th scope="col">Dopuna šifri</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="request : ${requestsList}">
                <td th:text="${request.id}">ID</td>
                <td th:text="${#dates.format(request.created, 'dd-MM-yyyy HH:mm')}">Date</td>
                <td th:text="${request.getUser().getFirstname()}">Klijent</td>                   
                <td th:text="${request.sifra1}">Šifra</td>   
                <td th:text="${request.sifra2}">Šifra</td>   
                <td th:text="${request.sifra3}">Šifra</td>   
                <td th:text="${request.sifra4}">Šifra</td> 
                <td th:text="${request.sifra5}">Šifra</td> 
                <td>
                	<a th:href="@{'/user/requestinfo/' + ${request.id}}" class="btn " th:classappend="${request.completed} == 0 ? btn-danger : btn-success" th:text="${request.completed} == 0 ? 'NE' : 'DA'">Osvježi</a>
                </td>                           
                <td>
                	<a class="btn btn-warning" th:href="@{/admin/createproduct}">Dodaj nove proizvode</a>
                </td>       
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    
    <!-- transactions pagination -->
<nav aria-label="Pagination" th:if="${requestsList.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${requestsList.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/admin/allrequests?page={id}(id=${requestsList.number lt 2 ? 1 : requestsList.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq requestsList.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( requestsList.number + 1, requestsList.totalPages > 10 + requestsList.number ? requestsList.number + 10 : requestsList.totalPages, 1)}">
            <a class="page-link" th:href="@{/admin/allrequests?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${requestsList.number + 10 < requestsList.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${requestsList.number + 1 eq requestsList.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/admin/allrequests?page={id}(id=${requestsList.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>

 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>