<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Kreiranje Novog Modela Auta</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<div th:include="fragments/header :: header"/></div>

<!-- Creating car model in AdminController, lines 415 and 428-->
 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/admin/createcarmodel}" th:object="${carModel}">
      
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
      </div>
      
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
         </div>
      </div>
      
         <div class="p-3 row">
             <div class="col-md-3"></div>
                 <h5>Kreiranje Novog Modela Automobila</h5>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Naziv Modela Automobila</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-suitcase"></i></div>
                         <input type="text" th:field="*{name}" class="form-control" id="name"
                                placeholder="Naziv auto modela" required autofocus>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                       </span>
                 </div>
             </div>
         </div>
         <div class="p-2"></div>
       <table class="table table-striped">
  		<tbody>
    		<tr>
      			<th scope="row"><label for="brand">Odaberi marku automobila:</label></th>
      			<td>
      	  			<select th:field="*{brand}">
              			<option th:each="carBrand : ${brands}"
              				th:value="${carBrand.id}"
              				th:utext="${carBrand.name}"/>
          			</select>
      			</td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
    		</tr>
    	</tbody>
    </table>
    
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <button type="submit" class="btn btn-success btn-block"><i class="fa fa-user-plus"></i>Kreiraj</button>
             </div>
         </div>
     </form>
 </div>
 
 <div class="p-5"></div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
  <!-- JavaScript to be activated if user clicks browser back button and takes it to the beginning of creating car model -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
 
</body>
</html>