<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Product Profile</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

<!-- Adding or subtracting available product quantity - in AdminController, lines 269, 293 and 341 -->
 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
 
  <table th:object="${product}" class="table table-striped">
  <!--  
  <thead>
    <tr>
      <th scope="col">Dodaj ili oduzmi proizvodu u bazi</th>
    </tr>
  </thead>
  -->
  <tbody>
    <tr>
      <th scope="row">Šifra:</th>
      <td><span th:text="*{sifra}"></span></td>
    </tr>
    <tr>
      <th scope="row">Cijena:</th>
      <td><span th:text="*{price}"></span></td>
    </tr>
    <tr>
      <th scope="row">Količina na stanju:</th>
      <td><span th:text="${productQuantity.quantity}"></span></td>
    </tr>
  </tbody>
</table>
    
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Količinu dodati:</th>
      <td>
      	<form th:action="@{/user/add}" th:object="${sampleInputs}" method="post">
      	   	<input type="hidden" th:field="*{id}" readonly="readonly"/>
        	<input min="1" step="1" type="number" th:field="*{quantity}" placeholder="količina" required autofocus/>
    		<input class="btn btn-lg btn-success" type="submit" value="Dodaj"/>
		</form>
	  </td>
    </tr>
    <tr>
      <th scope="row">Količinu oduzeti:</th>
      	<td>
         	<form th:action="@{/user/remove}" th:object="${sampleInputs}" method="post">
      	   		<input type="hidden" th:field="*{id}" readonly="readonly"/>         
        		<input min="1" step="1" type="number" th:field="*{quantity}" placeholder="količina" required autofocus/>
    			<input class="btn btn-lg btn-danger" type="submit" value="Oduzmi"/>
			</form>
	  	</td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
  <!-- JavaScript to be activated if user clicks browser back button and takes it product profile-->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
 
 
</body>
</html>