<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Lisa oglasa šifre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

<!-- Display of market product posts in MarketController lines 84 and 91 -->
 <div class="p-2" align="center">
   	<div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
 </div>
  
  <div class="container table-responsive" align="center">

    <div class="row" th:fragment="article-list" th:if="${postsList != null && !postsList.isEmpty()}">
        <div class="col-md-2"></div>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Datum Oglasa</th>
                <th scope="col">Šifra proizvoda</th>
                <th scope="col">Naziv proizvoda</th>         
                <th scope="col">Količina</th>            
                <th scope="col">Cijena komad</th>
                <th scope="col">Kontaktiraj na</th>               
                <th scope="col">Kontakt info</th>
                <th scope="col">Ime prodavača</th> 
                <th scope="col">ID #</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="post : ${postsList}">
                <td th:text="${#dates.format(post.created, 'dd-MM-yyyy')}">Date</td>
                <td th:object="${post}">
                     <a class="btn btn-warning fixed_button" th:text="${#strings.abbreviate(post.productSifra, 8)}" th:href="@{'/user/postinfo/' + *{id}}">Šifra And Link To Post Info</a>
                </td>   
                <td th:text="${post.productName}">Naziv</td> 
                <td th:text="${post.postQuantity}">Količina</td> 
                <td th:text="${post.price}">Cijena</td>
                <td th:text="${post.contactOption}">Kontaktirati</td>       
                <td th:text="${post.contactInfo}">Kontakt</td>  
                <td th:text="${post.userName}">Ime prodavača</td>    
                <td th:text="${post.id}">ID</td> 
            </tr>
        </tbody>
    </table>
  </div>
</div>
    
    <!-- transactions pagination -->
<nav aria-label="Pagination" th:if="${postsList.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${postsList.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/user/displayposts?page={id}(id=${postsList.number lt 2 ? 1 : postsList.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq postsList.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( postsList.number + 1, postsList.totalPages > 10 + postsList.number ? postsList.number + 10 : postsList.totalPages, 1)}">
            <a class="page-link" th:href="@{/user/displayposts?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${postsList.number + 10 < postsList.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${postsList.number + 1 eq postsList.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/user/displayposts?page={id}(id=${postsList.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>

 <div th:replace="fragments/footer :: footer"/></div>
 
 <!--  
 <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
 -->
</body>
</html>