<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Client Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

<!-- Client page with options for client users and access for CLIENT and ADMIN, UserController line 167 -->
 <div class="container">
 
 <div class="p-2" align="center">
  <h5><span th:utext="${userName}"></span><img alt="no image" src="/yapicons.png" width="80" height="70">Klijent Opcije</h5>
  </div>
  
  <div class="row p-2">
    <div class="col">
  		<a th:href="@{/home/homesearch}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pretraga Autodijelova</a>
	</div>
	<div class="col">
  		<a th:href="@{/user/alltransactions}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Pregled Transakcija Ulaz / Izlaz</a>
 	</div>
 </div>
 
  <div class="row p-2">
    <div class="col">
  		<a th:href="@{/user/userposts}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Vaši Objavljeni Oglasi</a>
	</div>
	<div class="col">
  		<a th:href="@{/user/searchposts}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pretraga Svih Oglasa</a>
 	</div>
 </div> 
 
  <div class="row p-2">
    <div class="col">
  		<a th:href="@{/home/allposts}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Oglasi Svih Klijenata</a>
	</div>
	<div class="col">
  		<a th:href="@{/clientservices}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pregled Usluga za Klijente</a>
 	</div>
 </div> 
 
   <div class="row p-2">
    <div class="col">
  		<a th:href="@{/user/userrequests}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Dostavljeni Zahtjevi Dopune</a>
	</div>
	<div class="col">
  		<a th:href="@{/user/request}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Zahtjev za Dopunu Baze</a>
 	</div>
 </div> 
  
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>