
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Guest Page</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<!-- Guest page, which is also home page for guest users, UserController lines 185 and 219 -->
<body>

<div th:include="fragments/header :: header"/></div>
 <div class="container">
 
 <div class="p-2" align="center">
  	<div>
        <img alt="no image" th:src="@{/images/yapicons.png}" width="80" height="70">
    </div>
  	<h5><span th:utext="${userName}"></span>, Gost Opcije</h5>
</div>
  
  <div class="row p-2">
    <div class="col">
  	 	<a th:href="@{/home/homesearch}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Pretraga Autodijelova</a>
	</div>
	<div class="col">
  		<a th:href="@{/user/searchposts}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Pretraga Svih Oglasa</a>
 	</div>
 </div>

  <div class="row p-2">
    <div class="col">
  		<a th:href="@{/becomeclient}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Kako Postati YAP Klijent?</a>
	</div>
	<div class="col">
  	 	<a th:href="@{/clientservices}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Pregled Usluga za Klijente</a>
 	</div>
 </div>

  <div class="row p-2">
	<div class="col">
  		<a th:href="@{/home/allposts}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pregled Oglasa Autodijelova</a>
 	</div>
 	<div class="col">
  		<a th:href="@{/home/profile}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pregled Vašeg Profila</a>
	</div>
 </div> 

 </div>
 
 <div class="footer">
 	  <div th:include="fragments/footer :: footer"></div>
 </div>
</body>
</html>