<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Guest Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>

</head>
<body>

<div th:include="fragments/header :: header"/></div>
 <div class="container">
 
 <div class="p-2" align="center">
  <h5><span th:utext="${userName}"></span> Gost Opcije</h5>
</div>
  
  <div class="row p-2">
    <div class="col">
  	 	<a th:href="@{/home/homesearch}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pretraga Autodijelova</a>
	</div>
	<div class="col">
  		<a th:href="@{/user/searchposts}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pretraga Svih Oglasa</a>
 	</div>
 </div>

  <div class="row p-2">
    <div class="col">
  		<a th:href="@{/becomeclient}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Kako Postati YAP Klijent?</a>
	</div>
	<div class="col">
  	 	<a th:href="@{/clientservices}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Pregled Usluga za Klijente</a>
 	</div>
 </div>

  <div class="row p-2">
	<div class="col">
  		<a th:href="@{/home/allposts}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pregled Oglasa Autodijelova</a>
 	</div>
 	<div class="col">
  		<a th:href="@{/home/profile}" class="btn-info btn-lg btn-block" role="button" aria-pressed="true">Vaš Profil</a>
	</div>
 </div> 

 </div>
 
 <div class="footer">
 	  <div th:include="fragments/footer :: footer"/></div>
 </div>
 
</body>
</html>