<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Lisa transakcija</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>
<!-- List of transactions for all products by user or for ADMIN for all users, UserController line 320 -->
 <div class="p-2" align="center">
     <div>
         <img alt="no image" th:src="@{/images/yapicons.png}" width="80" height="70">
    </div>
   	<h5>Lista transakcija ->
   	<span th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></span>
   	</h5>
 </div>
  
  <div class="container table-responsive" align="center">

    <div class="row" th:fragment="article-list" th:if="${transactions != null && !transactions.isEmpty()}">
        <div class="col-md-2"></div>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Datum Transakcije</th>
                <th scope="col">Šifra proizvoda</th>
                <th scope="col">Naziv proizvoda</th> 
                <th scope="col">Vrsta transakcije</th>                  
                <th scope="col">Proizvođač</th>
                <th scope="col">Količina</th>              
                <th scope="col">Transakciju izvršio</th>               
                <th scope="col">Ukupna vrijednost</th>
                <th scope="col">ID #</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="trans : ${transactions}">
                <td th:text="${#dates.format(trans.created, 'dd-MM-yyyy HH:mm')}">Date</td>
                <td th:object="${trans.getProduct()}">
                	<a th:href="@{'/home/productprofile/' + *{id}}" class="btn btn-success wider_button" th:text="*{#strings.abbreviate(sifra, 9)}">Sifra</a>
                </td>   
                <td th:text="${trans.getProduct().getName()}">Naziv</td>   
                <th th:style="|${trans.transType == 'IZLAZ' ? 'color: red;' : 'color: green;'}}|" th:text="${trans.transType}">Vrsta transakcije</th>   
                <td th:text="${trans.getProduct().getProductMaker().getName()}">Proizvođač</td>   
                <td th:text="${trans.transQuant}">Količina</td> 
                <td th:text="${trans.getUser().getFirstname()}">Korisnik</td>
                <td th:text="${trans.totalValue}">Vrijednost</td>       
                <td th:text="${trans.id}">ID</td>              
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    
    <!-- transactions pagination -->
<nav aria-label="Pagination" th:if="${transactions.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${transactions.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/user/alltransactions?page={id}(id=${transactions.number lt 2 ? 1 : transactions.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq transactions.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( transactions.number + 1, transactions.totalPages > 10 + transactions.number ? transactions.number + 10 : transactions.totalPages, 1)}">
            <a class="page-link" th:href="@{/user/alltransactions?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${transactions.number + 10 < transactions.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${transactions.number + 1 eq transactions.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/user/alltransactions?page={id}(id=${transactions.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>

 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>