<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>EuroParts Pula Prijava</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<div th:include="fragments/header :: header"/></div>

<body>
 <div class="container">
  <div class="alert alert-danger" role="alert" th:if="${param.error}">
   Unesena lozinka ili email su netačni!
  </div>
    <form th:action="@{/login}" method="post" >
        <div class="p-2" align="center">
             <h2 class="h3 mb-3 font-weight-normal">Prijava</h2>
        </div>

	  	<label for="inputEmail" class="sr-only">Email</label>
			<b>E-mail:</b>
       	<input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
       
       		<div class="p-2"></div>
       
       	<label for="inputPassword" class="sr-only">Password</label>
       		<b>Password:</b>
       	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              
       		<div class="p-2"></div>
       		
       <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  	</form>
  	
  	<a th:href="@{/guestsignup}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Dodaj Novog Korisnika</a>
  	
  </div>
    
     <div th:include="fragments/footer :: footer"/></div>
    
</body>
</html>