<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Oglas Info</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

<!-- Displaying post info by post ID in MarketController in lines 72 and 131-->
 <div class="container">
 
      <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
      <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
     
  <table th:object="${post}" class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Oglas ID:</th>
      <td><span th:text="*{id}"></span></td>
    </tr>
    <tr>
      <th scope="row">Šifra proizvoda:</th>
      <td><span th:text="*{productSifra}"></span></td>
    </tr>
    <tr>
      <th scope="row">Naziv proizvoda:</th>
      <td><span th:text="*{productName}"></span></td>
    </tr>
    <tr>
      <th scope="row">Ime prodavača:</th>
      <td><span th:text="*{userName}"></span></td>
    </tr>
    <tr>
        <th scope="row">Kontakt na:</th>
        <td><span th:text="*{contactOption}"></span></td>
    </tr>
    <tr>
      <th scope="row">Kontakt:</th>
      <td><span th:text="*{contactInfo}"></span></td>
    </tr>
    <tr>
        <th scope="row">Količina:</th>
        <td><span th:text="*{postQuantity}"></span></td>
    </tr>
    <tr>
      	<th scope="row">Active:</th>
        <td th:object="${post}">
         	<a th:href="@{'/user/postcompleted/' + *{id}}" class="btn " th:classappend="*{active} == 0 ? btn-danger : btn-success" th:text="*{active} == 0 ? 'NE - Obnovi oglas' : 'DA - Završi oglas'">Osvježi</a>
       	</td>
    </tr>
    <tr>
      <th scope="row">Cijena:</th>
      <td><span th:text="*{price}"></span></td>
    </tr>
    <tr>
        <th scope="row">Objavljeno:</th>
        <td th:text="${#dates.format(post.created, 'dd-MM-yyyy HH:mm')}">Date</td>
    </tr>
    <tr>
       <td>
          <a class="btn btn-warning" th:href="@{/user/userposts}">Sve objave korisnika</a>
       </td>       
       <td>
          <a class="btn btn-primary" th:href="@{/user/searchposts}">Pretraga oglasa</a>
       </td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
 <!-- 
 <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
  -->
  
</body>
</html>