<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Objava Oglasa</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

<!-- Staring publishing of the post of a product based on product ID in MarketController line  214-->
 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/user/market}" th:object="${post}">
      <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
             </div>
         </div>
         <div class="p-3 row">
             <div class="col-md-3"></div>
                 <h5>Objavite Oglas za odabrani proizvod</h5>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Šifra</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-suitcase"></i></div>
                         <input type="hidden" th:field="*{id}" class="form-control" id="id">
                         <input type="hidden" th:field="*{userId}" class="form-control" id="userId">
                         <input type="hidden" th:field="*{groupId}" class="form-control" id="groupId">
                         <input type="hidden" th:field="*{userName}" class="form-control" id="userName">
                         <input type="hidden" th:field="*{productId}" class="form-control" id="productId">
                         <input type="hidden" th:field="*{active}" class="form-control" id="active">
                         <input type="text" th:field="*{productSifra}" class="form-control" id="productSifra"
                                placeholder="Šifra autodijela" readonly="readonly" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
                  <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Naziv proizvoda</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>                    
                         <input type="text" th:field="*{productName}" class="form-control" id="productName"
                                placeholder="Naziv autodijela" readonly="readonly" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Na koji način da vas kontaktiraju:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-envelope-o"></i></div>
                            <select name="contactOption" id="contactOption">
    							<option value="E-mail">Email</option>
    							<option value="Viber">Viber</option>
    							<option value="WhatsApp">WhatsApp</option>
    							<option value="Phone/SMS">Phone/SMS</option>
							</select>
                     </div>
                 </div>
             </div>
          </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="productGroup">Navedite kontakt broj ili email:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-flag"></i></div>
                         <input type="text" th:field="*{contactInfo}" class="form-control" id="contactInfo"
                                placeholder="Kontakt broj ili email" required autofocus>
                     </div>
                 </div>
             </div>
          </div>
           <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="price">Cijena:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-dollar"></i></div>
                         <input min="1" step="1" type="number" th:field="*{price}" class="form-control" id="price"
                         required autofocus>
                     </div>
                 </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="quantity">Količina:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-info"></i></div>
                         <input min="1" th:max="*{maxAvailable}" step="1" type="number" th:field="*{postQuantity}" class="form-control" id="postQuantity"
                         required autofocus>
                     </div>
                 </div>
             </div>
           </div>
             
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Objava Oglasa</button>
             </div>
         </div>
     </form>
 </div>
 
      <div th:include="fragments/footer :: footer"/></div>

 <script type="text/javascript">	
 	window.history.forward();
 	function noBack() {
     	window.history.forward();
 	}
 </script>
 
</body>
</html>