<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Poslan Zahtjev Info</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
      <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
     
  <table th:object="${request}" class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Šifra 1:</th>
      <td><span th:text="*{sifra1}"></span></td>
    </tr>
    <tr>
      <th scope="row">Šifra 2:</th>
      <td><span th:text="*{sifra2}"></span></td>
    </tr>
    <tr>
      <th scope="row">Šifra 3:</th>
      <td><span th:text="*{sifra3}"></span></td>
    </tr>
    <tr>
      <th scope="row">Šifra 4:</th>
      <td><span th:text="*{sifra4}"></span></td>
    </tr>
    <tr>
        <th scope="row">Šifra 5:</th>
        <td><span th:text="*{sifra5}"></span></td>
    </tr>
    <tr>
      <th scope="row">Zahtjev ID:</th>
      <td><span th:text="*{id}"></span></td>
    </tr>
    <tr>
        <th scope="row">Klijent:</th>
        <td><span th:text="${request.getUser().getFirstname()}"></span></td>
    </tr>
    <tr>
      <th scope="row">Status zahtjeva:</th>
      <td><span th:text="*{completed}"></span></td>
    </tr>
    <tr>
        <th scope="row">Poslano datuma:</th>
        <td th:text="${#dates.format(request.created, 'dd-MM-yyyy HH:mm')}">Date</td>
    </tr>
    <tr>
       <td>
          <a class="btn btn-warning" th:href="@{/user/userposts}">Sve objave korisnika</a>
       </td>       
       <td>
          <a class="btn btn-danger" th:href="@{/user/marketsearch}">Pretraga oglasa</a>
       </td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>