<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Client Steps</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>
	<div th:include="fragments/header :: header"/></div>
 
 <!-- Instructions how to become a client - HomeController line 20 -->
  <section class="jumbotron text-center">
    <div class="container">
      <h3>Kako postati YAP Database klijent?</h3>
      <p class="lead text-muted">Prvi korak je da se registrujete kao 'Gost' korisnik. Kliknite na donji link do stranice za registraciju</p>
      <p>
        <a th:href="@{/guestsignup}" class="btn btn-lg btn-block btn-primary my-2">Kreiraj 'Gost' profil</a>
        </p>
        
      <div class="p-2 mx-auto text-center">
      	<p class="lead text-muted">Ako već imate registrovan 'Gost' profil pošaljite poruku sa tekstom <b>'Želim otvoriti YAP Database klijent račun'</b> na e-mail adresu <b>j.adilovic@gmail.com</b></p>
        <p>
        	<a th:href="@{/clientservices}" class="btn btn-lg btn-block btn-secondary my-2">Usluge za klijente</a>
      	</p>
      </div>
      
            <p class="lead text-muted">Za registrovane klijente i goste:</p>
        <p>
        <a th:href="@{/login}" class="btn btn-lg btn-block btn-success my-2">Prijava</a>
      </p>
    </div>
    </section>
 
  	<div th:include="fragments/footer :: footer"/></div>
 </body>
</html>