<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Lista artikala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

<!-- Displaying list of products / parts for different kind of searches - SearchController lines 84 and 101 -->
 <!-- Pagination possibly needed - Also, SearchController lines 188, 270 and 299 -->
 <div class="p-2"></div>
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
              <div class="alert alert-danger" role="alert" th:if="${message2}" th:utext="${message2}"></div>
         </div>
       </div>

  <div class="container table-responsive" align="center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Šifra</th>            
                <th scope="col">Stanje</th>
                <th scope="col">Proizvođač</th>
                <th scope="col">Lista</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="product, productStat : ${productList}">
                <!-- <td th:text="${product.sifra}">Sifra</td>   -->
                <!-- Displaying product name in the button and link to product profile-->
                <td th:object="${product}">
                	<a th:href="@{'/home/productprofile/' + *{id}}" class="btn btn-success" th:text="*{sifra}">Sifra</a>
                </td>    
                <td>
					<span th:text="*{productQuantityList[__${productStat .index}__].quantity}">Stanje</span>
				</td>
                <td th:text="${product.getProductMaker().getName()}">Proizvodjac</td>   
                <!-- Link to product profile only -->
                <!--  
                <td th:object="${product}">
                	<a class="btn btn-warning" th:href="@{'/home/productprofile/' + *{id}}">Info</a>
                </td>       
                -->
                <td th:object="${product}">
                	<a class="btn btn-danger" th:href="@{'/home/listreplaceproducts/' + *{id}}">Zamjenski</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div> 
  
      <!-- car parts list pagination -->
<nav aria-label="Pagination" th:if="${productList.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${productList.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/user/displayproducts?page={id}(id=${productList.number lt 2 ? 1 : productList.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq productList.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( productList.number + 1, productList.totalPages > 10 + productList.number ? productList.number + 10 : productList.totalPages, 1)}">
            <a class="page-link" th:href="@{/user/displayproducts?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${productList.number + 10 < productList.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${productList.number + 1 eq productList.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/user/displayproducts?page={id}(id=${productList.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>
   
  		<div class="p-2" align="center">
    	 <a th:href="@{/home/homesearch}" class="btn-warning btn-lg" role="button" aria-pressed="true">Pretraga Autodijelova</a>
  		</div>
 <div th:replace="fragments/footer :: footer"/></div>
  
  <!-- JavaScript to enable use of browser back button which returns user to the beginning of the search -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
 
</body>
</html>