<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Product Profile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
 
  <table th:object="${product}" class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Šifra:</th>
      <td><span th:text="*{sifra}"></span></td>
    </tr>
    <tr>
      <th scope="row">Naziv:</th>
      <td><span th:text="*{name}"></span></td>
    </tr>
    <tr>
      <th scope="row">Kategorija:</th>
      <td><span th:text="${product.getProductGroup().getName()}"></span></td>
    </tr>
        <tr>
      <th scope="row">Proizvođać:</th>
      <td><span th:text="${product.getProductMaker().getName()}"></span></td>
    </tr>
    <tr>
      <th scope="row">Opis:</th>
      <td><span th:text="*{description}"></span></td>
    </tr>
    <tr>
      <th scope="row">Cijena:</th>
      <td><span th:text="*{price}"></span></td>
    </tr>
        <tr>
      <th scope="row">Količina na stanju:</th>
      <td><span th:text="*{quantity}"></span></td>
    </tr>
    <tr th:each="replace : ${replaceProducts}">
        <th scope="row">Zamjenski:</th>
        <td><span th:text="${replace.getSifra()}"></span></td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>