<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Pretraga Auto Dijelova</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> 
</head>
<body>

<div th:include="fragments/header :: header"/></div>

<!-- Search page for starting searches by sifra and group - SearchController line 67 -->
<!-- Return page if no product is found with entered sifra - SearchController line 145 -->
 <div class="container">
 
       <div class="row p-2">
          <div class="col-md-12">
              <div class="alert alert-danger" role="alert" th:if="${message2}" th:utext="${message2}"></div>
         </div>
       </div>
	
	<div class="card text-center">
  		<div class="card-body">
    		<h5 class="card-title">Pretraga po Šifri</h5>
    		
		<form th:action="@{/home/productprofile}" th:object="${sampleInputs}" method="post">
        		<label><h5>Unesite šifru:</h5></label>
        		<input type="text" th:field="*{sifra}" placeholder="sifra" required autofocus/>
    			<input class="btn btn-lg btn-warning btn-block" type="submit" value="Traži"/>
			</form>
  		</div>
	</div>
	
	<div class="p-3"></div>
	
	<div class="card text-center">
  		<div class="card-body">
    		<h5 class="card-title">Pretraga po Nazivu</h5>
    		
		<form th:action="@{/home/keywordsearch}" th:object="${sampleInputs}" method="post">
        		<label><h5>Unesite naziv:</h5></label>
        		<input type="text" th:field="*{name}" placeholder="ključna riječ" required autofocus/>
    			<input class="btn btn-lg btn-info btn-block" type="submit" value="Traži"/>
			</form>
  		</div>
	</div>
		
		<div class="p-3"></div>
	
</div>
 
      <div th:include="fragments/footer :: footer"/></div>

		<!-- JavaScript to be activated if user clicks browser back button and takes it to the beginning of search -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
		
</body>
</html>