<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga Auto Dijelova</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
	
	<div class="card text-center">
  		<div class="card-body">
    		<h5 class="card-title">Pretraga po Šifri</h5>
    		
		<form th:action="@{/home/productprofile}" th:object="${sampleInputs}" method="post">
    		<div>
        		<label>Unesite šifru:</label>
        		<input type="text" th:field="*{sifra}" placeholder="sifra" />
    			</div>
    			<input type="submit" value="Traži"/>
			</form>
  		</div>
  		
  		<div class="card-footer text-dark">
    		<h5>Pregled Auto Dijelova po Grupama</h5>
  		</div>
	</div>
	
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Ulja, masti, automobilske kemikalije</h5>
        			<a th:href="@{/home/ulja}" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary btn-lg">Pregled</a>
      			</div>
    		</div>
  		</div>
	</div>
</div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
</body>
</html>