<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga Auto Dijelova</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
          <div class="col-md-12">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
	
	<div class="card text-center">
  		<div class="card-body">
    		<h5 class="card-title">Pretraga po Šifri</h5>
    		
		<form th:action="@{/home/productprofile}" th:object="${sampleInputs}" method="post">
        		<label><h5>Unesite šifru:</h5></label>
        		<input type="text" th:field="*{sifra}" placeholder="sifra" />
    			<input class="btn btn-warning btn-block" type="submit" value="Traži"/>
			</form>
  		</div>
  		
  		<div class="card-footer text-dark">
    		<h5>Pregled Auto Dijelova po Grupama</h5>
  		</div>
	</div>
	
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a th:href="@{/home/ulja}" class="btn btn-primary btn-block">Ulja, masti, automobilske kemikalije</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-info btn-block">Pogon</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-secondary btn-block">Šasija</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-success btn-block">Karoserija vozila</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-danger btn-block">Instalacijski i električni sustavi</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-dark btn-block">Unutrašnja oprema i udobnost</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-light btn-block">Auto instalacije</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-primary btn-block">Hidraulika</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<a href="#" class="btn btn-info btn-block">Cooling aggregates</a>
      			</div>
    		</div>
  		</div>
	</div>
</div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
</body>
</html>