<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga Auto Dijelova</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
	
	<div class="card text-center">
  		<div class="card-body">
    		<h5 class="card-title">Pretraga po Šifri</h5>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
  		<div class="card-footer text-dark">
    		<b>Pregled Auto Dijelova po Grupama</b>
  		</div>
	</div>
	
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Ulja, masti, automobilske kemikalije</h5>
        			<a th:href="@{/home/ulja}" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-4">
    		<div class="card">
      			<div class="card-body">
        			<h5 class="card-title">Special title treatment</h5>
        			<a href="#" class="btn btn-primary">Go somewhere</a>
      			</div>
    		</div>
  		</div>
	</div>
</div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
</body>
</html>