<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga po modelu automobila i grupi artikla</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body class="text-center">

<div th:include="fragments/header :: header"/></div>

     <div class="container bg-light">
      
          <form class="form-horizontal" role="form" method="POST" th:action="@{/home/modelsearch4}" th:object="${inputs}">
      <h5 class="mb-3 font-weight-normal">Pretraga po modelu auta</h5>
                <label for="brand"><b>Marka: </b></label>
      				<input type="text"  th:field="*{brandName}" id="brandName"></br>
                <label for="model"><b>Model: </b></label>
      				<input type="text" th:field="*{modelName}" id="modelName"></br>
			<label for="group"><b>Group: </b></label>
				<select th:field="*{id}" class="groupName">
      	  		<!--
              		<option th:each="group : ${productGroups}"
              		th:value="${group.name}"
              		th:utext="${group.name}"/>
              	-->	
          		</select> 
				<div class="cardy">
					<!-- Parts categories -->
    			</div>
            <hr class="mb-4">
            <button id="traziBtn" class="btn btn-danger btn-lg btn-block" type="submit">Traži</button>
    </form>
  </div>
 
 <div class="footer">
      <div th:include="fragments/footer :: footer"/></div>
 </div>
 
 <script type="text/javascript" th:src="@{/js/searchByModel.js}"></script>
 
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>

</body>

</html>